.image{
    height: 70%;
    width: 70%;
}
hr{
    border-top: 1px solid rgb(241, 235, 235);
}
.header {
    display: flex;
    justify-content: space-between; /* Space out logo and navigation */
    align-items: center; /* Vertically align items */
    padding: 10px 20px; /* Adjust padding as needed */
}
img{
    height: 20px;
    width: 150px;
    column-gap: 10cm;
}